.root {
	min-height  : 100vh;
	background  : #f89482;
	overflow    : hidden;
}
.logo {
	padding     : 15px;
}
.header {
	background : #ee0f6f; 
	border     : 4px;
}
.userList-root {
	margin    : 15px;
	width     : 500px;
}

.icon-timePeriod, .icon-calander {
	cursor  : pointer;	
}
.icon-timePeriod:hover, .icon-calander:hover {
}
.row {
}

.cell {
	padding    : 5px;
}
.modal {
	position : absolute;
	left : 25%;
	bottom : 45%;
}
.calander {
	position : absolute;
	left     : 25%;
	top      : 40px;
}
.css-1yzwa33 {
	position : absolute;
	left     : 45%;
	top      : 40%;
}

