.main-header {
	background : antiquewhite; 
	border     : 4px;
}
.root {
}
.main-row {
}
.main-cell {
	padding    : 5px;
}
.main-modal {
	position : absolute;
	left : 25%;
	bottom : 45%;
}
.calander {
	position : absolute;
	left     : 25%;
	top      : 40px;
}
.css-1yzwa33 {
	position : absolute;
	left     : 45%;
	top      : 40%;
}

